{% extends "template.html" %} {% block content %}

<div class="border round">
	<h1 class="my-5">{{post.title}}</h1>
	<p class="text-dark">{{post.content|safe}}</p>
</div>
<form action="{% url 'like_post' pk=post.pk %}" method="POST">
	{% csrf_token %} {% if liked %}
	<button
		type="submit"
		,
		name="like"
		value="{{ post.id }}"
		,
		class="btn btn-danger btn-sm">
		Unlike
	</button>
	{% else %}
	<button
		type="submit"
		,
		name="like"
		value="{{ post.id }}"
		,
		class="btn btn-primary btn-sm">
		Like
	</button>
	{% endif %} - {{ total_likes }} likes
</form>

<a href="{% url 'post_list' %}" class="btn btn-secondary my-5">Back</a>
<!-- need user permisssion -->
<a href="{% url 'post_update' pk=post.pk %}" class="btn btn-secondary my-5"
	>Edit</a
>
<a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-secondary my-5"
	>Delete</a
>

{% endblock %}
